@import url(./style.css);

/*General*/
main {
    background-color: var(--blanco);
    border-top: 6px solid var(--gris-claro);
}
main h1{
    padding: 10px;
}
.card-container{
    width: 55%;
    margin: 20px;
    padding: 20px;
    height: auto;
    display: flex;
}
main section p {
    margin-top: 10px;
    margin-bottom: 10px;
}

