:root {
    --verde: #4f5d3d;
    --marron: #7d5c3e;
    --blanco: #f5f2e9;
    --gris-claro: #eae3d2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Header */
header {
    width: auto;
    background-color: var(--verde);
    padding: 10px;
}

#logo-menu{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

#logo-menu h1{
    display: inline-block;
    color: var(--blanco);
    margin-left: 10px;
    vertical-align: middle;
}

#logo-menu img{
    display: inline-block;
    width: 60px;
    border-radius: 25%;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: var(--blanco);
    margin: 8px;
}

#menu {
    display: inline-block;
    width: 79%;
    text-align: right;
    vertical-align: middle;
}

#menu li{
    display: inline-block;
    width: max-content;
    margin: 1px;
    padding: 10px;
}

#menu li a {
    color: var(--marron);
    padding: 8px;
    margin: 10px;
    background-color: var(--gris-claro);
    border: 1px solid var(--blanco);
    border-radius: 6px;
}

#menu li a:hover {
    background-color: var(--blanco);
}

/* Main */
main {
    background-color: var(--blanco);
    border-top: 6px solid var(--gris-claro);
}

main section {
    width: 40%;
    margin: 20px;
    padding: 20px;
    height: auto ;
}

main section p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#inicio-productos {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--marron);
    border: 2px solid var(--gris-claro);
    border-radius: 6px;
}

#inicio-productos:hover {
    background-color: var(--marron);
}

#inicio-productos a {
    color: var(--blanco);
    text-decoration: none;
}

#inicio-equipo {
    padding: 10px;
    margin-right: 10px;
    background-color: var(--verde);
    border: 2px solid var(--gris-claro);
    border-radius: 6px;
}

#inicio-equipo:hover {
    background-color: var(--verde);
}

#inicio-equipo a {
    color: var(--blanco);
    text-decoration: none;
}

/* footer */
footer {
    height: 10vh;
    background-color: var(--marron);
    border-top: 6px solid var(--gris-claro);
}

.copyright {
    color: var(--blanco);
    margin-top: 25px;
    text-align: center;
}

.copyright p {
    text-align: middle;
}